.cards {
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-grow: 20;
    flex-wrap: wrap;
  
  }
  .card1 { 
    padding-top: 1rem;
    flex: 0 1 34%;
  }
  
  .card2 { 
    padding-top: 1rem;
    flex: 0 1 34%;
  }