.wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: double;
    border-color: goldenrod;
    border-width: 3px;
    padding: 1rem;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    background-color: white;
}

.info {
    display: flex;
    padding-top: 1rem;
    
}

.bod {
    text-align: center;
    padding-bottom: 1rem;
}