.wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 1rem;
    flex-direction: column;
    width: 50%;
    height: 30%;
    background-color: white;
    margin-top: 15%;
    opacity: .7;
    border-radius: 50%;
}

.info {
    display: flex;
    padding: 1rem;
    font-size: larger;
}

.bod {
    text-align: center;
    padding-bottom: 1rem;
}

.hero {
    display:flex;
    align-self: top;
    height: 95%;
    width: 100%;
    justify-content: center;
    background-image: url('../images/Yellowstone.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}



@media only screen and (max-width: 600px) {
    .info {
        display: flex;
        padding: 1rem;
        font-size: small;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .info {
        display: flex;
        padding: 1rem;
        font-size: small;
        
    }
    .wrapp{
        visibility: visible;
        margin: 20%
    }

    .hero {
       visibility:hidden;
    }
}