.wrap {
    max-width: 100vw;
    max-height: 100vh;
    margin: 10%;
    background-color: white;
    display: flex;
    border-style: solid;
    border-color: #ffe81f;
    border-width: 1px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

#one {
    padding: 2rem;
}

#three {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.headshot {
    width: 250px;
    height: 250px;
    -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
    filter: grayscale(30%);
    border-radius: 50%;
    border-style: solid;
    border-color: #ffe81f;
    border-width: 2px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 2rem;
}

@media only screen and (max-width: 605px) {
  .wrap {
    background-color: whitesmoke;
    border-color: whitesmoke;
  }
  .one {
    zoom: 120%; 
  }
}