.wrap {
    max-width: 100vw;
    max-height: 100%;
    margin: 10%;
    background-color: whitesmoke;
    display: flex;
    border-style:dashed;
    border-color: transparent;
    border-width: 4px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.intro {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.left {
    padding: 2rem;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.headshot {
    width: 250px;
    height: 260px;
    -webkit-filter: grayscale(35%); /* Safari 6.0 - 9.0 */
    filter: grayscale(35%);
    border-radius: 50%;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .wrap {
    background-color: whitesmoke;
    border-color: whitesmoke;
  }
  .left {
    zoom: 120%; 
  }
  .headshot {
    border: none;
    zoom: 80%
  }
}