.container {
    color: white;
    background:linear-gradient(90deg, rgb(52, 51, 51) 100%, #ffe81f 0%);
    opacity: .8;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    height: 11.7vh;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
}

.fa-brands {
    padding-right: 1rem;
    justify-content: end;
    margin-right: 10px;
}
.col {
    padding-left: 1rem;
}
.socials:visited {
    color: white;
  }
a:active {
    color: white;
}

.socials { 
    color: white;
}

.socials:hover{
    color: #ffe81f;
}