.container {
    color: #fff;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    align-items: end;
    padding: 1rem;
}

.fa-brands {
    padding-right: 1rem;
}


