* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.aboutme,
.projects,
.game {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.projects {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.cards {
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-grow: 20;
  flex-wrap: wrap;

}
.card1 { 
  padding-top: 1rem;
  flex: 0 1 34%;
}

.card2 { 
  padding-top: 1rem;
  flex: 0 1 34%;
}

.info {
  display: flex;
  padding: 1rem;
  justify-content:space-around;
  flex-direction: row;
  color:navy;
  font-family: 'PT Sans', sans-serif;
}